name: Shell Commands

on:
  workflow_dispatch:
    

jobs: 
  run-windows-command:
    runs-on: windows-latest
    steps:
      - name: Directory PowerShell
        run: |
          $loc = Get-Location
          Write-Output "::set-output name=LOCATION::$(Get-Location)"
        id: current_dir
      - name: Output
        run: "${{ steps.current_dir.outputs.LOCATION }}"

